# Git submodules for devops-internship
[submodule "week1_git"]
	path = week1_git
	url = ./week1_git
[submodule "week2_gcp"]
	path = week2_gcp
	url = ./week2_gcp
[submodule "week3_terraform"]
	path = week3_terraform
	url = ./week3_terraform
[submodule "week4_docker"]
	path = week4_docker
	url = ./week4_docker
[submodule "week5_ansible"]
	path = week5_ansible
	url = ./week5_ansible
